@use 'reset';
@use 'variables/global';
@use 'themes/default';
@use 'themes/dark';
@use 'global' as global2;

body {
  color: var(--text-color);
  font: var(--font-m);
}

#app {
  background-color: var(--bg-color);
  min-height: 100vh;
}

main {
  display: flex;
}

.content-block {
  padding: 20px;
  flex-grow: 1;
}
