@import './reset';
@import './variables/global';
@import './themes/default';
@import './themes/dark';

#app {
  background-color: var(--bg-color);
  color: var(--primary-color);
  font: var(--font-m);

  min-height: 100vh;
}

main {
  display: flex;
}

.content-block {
  padding: 20px;
  flex-grow: 1;
}
