.btn {
  padding: var(--spacing-s) var(--spacing-m);
  border: none;
  border-radius: var(--border-radius-s);
  cursor: pointer;
  transition: all 0.15s ease-in;

  &:hover {
    opacity: 0.7;
  }

  svg {
    vertical-align: middle;
  }
}

.primary {
  color: var(--inverted-text-color);
  background-color: var(--inverted-bg-color);
}

.secondary {
  color: var(--text-color);
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
}

.clear,
.clear-inverted {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: var(--text-color);
  border: none;
}

.clear-inverted {
  color: var(--inverted-text-color);
}

.square {
  padding: 0;

  &.size-m {
    width: var(--line-height-m);
    height: var(--line-height-m);
    font-size: var(--font-m);
  }

  &.size-l {
    width: var(--line-height-l);
    height: var(--line-height-l);
    font-size: var(--font-l);
  }

  &.size-xl {
    width: var(--line-height-xl);
    height: var(--line-height-xl);
    font-size: var(--font-xl);
  }
}
