.btn {
  cursor: pointer;

  svg {
    vertical-align: middle;
  }
}

.primary {
  color: #000;
}

.clear {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.outline {
  padding: 10px 15px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
}
