.btn {
  border: none;
  cursor: pointer;

  svg {
    vertical-align: middle;
  }
}

.primary {
  color: var(--inverted-text-color);
  background-color: var(--inverted-bg-color);
}

.secondary {
  color: var(--text-color);
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
}

.clear {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.square {
  padding: 0;

  &.size-m {
    width: var(--line-height-m);
    height: var(--line-height-m);
    font-size: var(--font-m);
  }

  &.size-l {
    width: var(--line-height-l);
    height: var(--line-height-l);
    font-size: var(--font-l);
  }

  &.size-xl {
    width: var(--line-height-xl);
    height: var(--line-height-xl);
    font-size: var(--font-xl);
  }
}
