.page-error {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #f8f9fa;
  font-size: var(--font-size-l);
}
