.input-wrapper {
  position: relative;
}

.input {
  padding: var(--spacing-s) var(--spacing-m);
  display: block;
  border: none;
  border-bottom: 1px solid var(--gray);
  border-radius: var(--border-radius-s);
  outline: none;
}
