#app.light {
  --bg-color: #d7d6de;
  --inverted-bg-color: #24232d;
  --text-color: #0f0f0f;
  --inverted-text-color: #fafafa;
  --primary-color: #0c4b71;
  --secondary-color: #166ca2;
  --inverted-primary-color: #bba725;
  --inverted-secondary-color: #e4ca20;
}
